<body>
    <body background="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOsAAADXCAMAAADMbFYxAAAAA1BMVEX63V0+ZV3HAAAASElEQVR4nO3BAQ0AAADCoPdPbQ43oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB+DMY0AAEIjJaEAAAAAElFTkSuQmCC">
    <span style="color:rgb(253, 145, 82)">
    <h1>WORD COUNT란?</h1>
    <h3>단어를 작성하면 작성한 단어의 갯수와 겹치는 횟수를 보여주는 프로그램입니다♥</h3>
    </span>
    <br>
    <img src="http://app.jjalbang.today/jj1Xc.gif" style="width:auto;">
    <br>
            <div class='home'><a href="{%url 'home'%}" >HOME</div>
        </a> 
    </body>
    <style>
    .home{background-color: rgb(243, 173, 69);}
    body{text-align: center;}
    </style>